@use '@/styles/base/variables' as *;
@use "sass:color";

.hero {
  &__wrapper {
    max-width: 1440px;
    margin: auto;
    padding: 0 3rem 0 4.5rem;
    display: flex;
    justify-content:end;
    align-items: center;
  }

  &__container {
    max-width: 865px;
    width: 100%;
    flex: 2;
    font-family: $font-primary;
    text-transform: uppercase;
    padding: 4.5rem 0;
  }

  &__image {
    flex: 1;
    max-width: 446px;
  }

  &__title {
    font-size: 4.8rem;
    color: $color-accent;
    line-height: 6.5rem;
    font-weight: 400;
  }

  &__content {
    font-family: $font-secondary;
    font-size: 2.4rem;
    font-weight: 600;
    color: $color-main-dark;
    line-height: 3.1rem;
    padding: 3rem 0;
    white-space: pre-line;
  }
}