@use '@/styles/base/variables' as *;
@use "sass:color";

.hero {
  &__wrapper {
    max-width: 1440px;
    margin: auto;
    padding: 50px 30px 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__container {
    flex: 2;
    font-family: $font-primary;
    text-transform: uppercase;
  }

  &__image {
    flex: 1;
    max-width: 446px;
  }

  &__title {
    font-size: 4.8rem;
    color: $color-accent;
    line-height: 6.5rem;
  }

  &__content {
    font-family: $font-secondary;
    font-size: 2.4rem;
    font-weight: 600;
    color: $color-main-dark;
    line-height: 3.1rem;
    padding: 30px 0;
    white-space: pre-line;
  }
}