@use '@/styles/base/variables' as *;
@use "sass:color";

.header {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

  &__wrapper {
    max-width: 1360px;
    margin: auto;
    padding: 2.2rem 4.5rem;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: inline-block;
    width: 9.3rem;
    height: 5.1rem;
  }

  &__nav  {
    max-width: 29rem;
    width: 100%;

    .navigation {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__link {
        padding: 10px;
        transition: all 0.3s ease-in-out;
        color: $color-accent;
        font-family: $font-primary;
        font-size: 1.6rem;
        text-transform: uppercase;

        &:hover {
          color: color.adjust($color-accent, $lightness: -10%);
        }
      }
    } 
  }
}
