@use '@/styles/base/variables' as *;

.slider {
  &__wrapper {
    max-width: 1440px;
    padding: 4.5rem;
    margin: auto;
    text-transform: uppercase;
  }

  &__title {
    text-align: center;
    font-family: $font-primary;
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 6.5rem;
    color: $color-accent;
    padding-bottom: 10px;
  }

  &__viewport {
    overflow: hidden;
    max-width: 1220px;
    width: 100%;
    margin: auto;
  }

  &__track {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }

  &__slide {
    min-width: 100%;
    min-height: 50rem;
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;

    .slide {
      &__bg {
        display: flex;
        background-color: $color-additional;
        border-radius: 30px;
        padding: 6rem 9rem;
        min-height: 42rem;
      }

      &__content {
        padding: 0 30rem 0 0;
      }

      &__image {
        position: absolute;
        right: 9rem;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 30px;
        width: 24rem;
        height: 50rem;
        border: 2px solid $color-accent;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      &__title {
        font-family: $font-primary;
        font-size: 3.8rem;
        font-weight: 400;
        color: $color-accent;
        padding-bottom: 30px;
      }

      &__text {
        font-size: 2.6rem;
        font-weight: 600;
        line-height: 4.2rem;
        font-family: $font-secondary;
        color: $color-text;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 2rem;
    max-width: 1220px;
    width: 100%;
    margin: auto;
  }

  &__dots {
    margin-top: 2.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
  }

  &__dot {
    display: inline-block;
    width: 3.4rem;
    height: 3.4rem;
    background: $color-main-light;
    border-radius: 50%;
    cursor: pointer;

    &_active {
      background: $color-main-dark;
    }
  }
}



