@use './variables' as *;
@use "sass:color";

body {
  background-color: $color-bg;
}

.button {
  max-width: 414px;
  padding: 10px 30px;
  border: none;
  border-radius: 15px;
  font-size: 2rem;
  line-height: 2.4rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &_accent {
    background-color: $color-accent;
    color: $color-bg;

    &:hover {
      background-color: color.adjust($color-accent, $lightness: -10%);
    }
  }

  &_main {
    background-color: $color-main-dark;
    color: $color-bg;

    &:hover {
      background-color: color.adjust($color-main-dark, $lightness: -10%);
    }
  }
}