$color-bg: #FDFAE7;
$color-main-dark: #ACBD6F;
$color-main-light: #E7F5C7;
$color-accent: #F16F33;
$color-additional: #FCE2A9;

$font-secondary: 'Asap', sans-serif;
$font-primary: 'Days One', sans-serif;
